body {
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

button {
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

.bg-dark-blue {
    background-color: #0B1641;
}

input, select {
    border-radius: 8px !important;
}

.card {
    border-radius: 8px;
}

.bg-cards {
    background: linear-gradient(45deg, #0B1641 0%, #C70160 100%);
}

h5.card-title {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    min-height: 60px;
    overflow: hidden;
}

.btn-pink {
    background-color: #C70160 !important;
    color: #fff !important;
}

.btn-green {
    border-radius: 8px !important;
    background: #16857B !important;
    color: #fff !important;
}

.card-body {
    border-radius: 0 0 8px 8px;
    background: #0B1641;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.text-price {
    color: #FFF;
    text-align: right;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-decoration-line: line-through;
}

select#sortSelect::-ms-expand {
    color: white !important;
}

ul {
    list-style: none;
}

input.form-control {
    background: #0B1641;
    border-color: #0B1641;
}

select#sortSelect {
    background: #0B1641;
    border-color: #0B1641;
    color: #fff;
}

img.card-img-top {
    border-radius: 8px 8px 0 0 !important;
}

.card {
    border-radius: 8px !important;
    background: transparent !important;
}

.game-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.details-button {
    background-color: #C70160 !important;
    color: white;
}

.discount-button {
    background-color: #16857B !important;
    color: white;
    opacity: 1 !important;
}

/* .game-price {
    font-size: 20px;
} */

.game-price.top::before {
    content: "R$" attr(data-original-price);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    text-decoration: line-through;
    color: #777;
}

.game-price.bottom::before {
    content: "R$" attr(data-original-price);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    /* text-decoration: line-through; */
    color: #fff;
}

p.game-price.top {
    position: relative;
    text-align: right;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-decoration-line: strikethrough;
    /* margin-right: 30px; */
    margin-top: 10px;
}

.game-price.bottom {
    position: relative;
    text-align: right;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    /* line-height: normal; */
    margin-right: 1px;
    margin-top: 30px;
    color: #fff !important;
}

ul.d-flex.justify-content-between.align-items-bottom {
    margin: 0;
    padding: 1rem 0;
}

footer {
    background-color: #0B1641; /* Cor de fundo do footer */
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}

.footer-logo img {
    max-width: 100px;
}

.footer-text {
    margin: 20px 0;
}

.footer-menu {
    list-style: none;
    padding: 0;
    text-align: left; /* Alinha o menu à esquerda */
}

.footer-menu li {
    display: inline;
    margin-right: 20px;
}

.footer-menu a {
    text-decoration: none;
    color: white;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

@media screen and (max-width: 767px) {
    .desk {
        display: none;
    }

    .col-md-4.d-flex.justify-content-end.align-items-center.py-3.desk {
        width: auto !important;
    }

    .col-4.py-3.mob {
        position: relative;
        margin-top: -23px !important;
    }
    
}

@media screen and (min-width: 768px) {
    .mob {
        display: none;
    }
    
}

